name: Introduction
on:
  schedule: [{cron: "0 * * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: ${{ github.repository_owner }}
          template: classic
          committer_branch: main
          base: header
          filename: assets/metrics.plugin.introduction.svg
          
          # Introduction Plugin Configuration
          plugin_introduction: yes
          plugin_introduction_title: yes